version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: docmgr-postgres
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: docmgr
      POSTGRES_PASSWORD: docmgr_secret
      POSTGRES_DB: doc_manager
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: docmgr-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
